[Unit]
Description=GO Simple Tunnel
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/root/gost -L tcp://:中转机端口/落地机ip:落地机端口
Restart=always

[Install]
WantedBy=multi-user.target
